<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Tipos de Clientes</h4>
        <p class="card-category">Listado de tipos de clientes</p>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="textoBusqueda" placeholder="Buscar..." />
            </div>
            <div class="col-md-6">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button routerLink="/clientes/tipos-clientes/nuevo" class="btn btn-primary">
            <i class="fas fa-plus"></i> Agregar
          </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-hover animated fadein faster">
                <thead class="text-primary">
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Acción</th>
                </thead>
                <tbody>
                    <tr *ngFor="let tipo of tiposClientes | filtroSimple: textoBusqueda | paginate: {itemsPerPage: tableSize,currentPage: page,totalItems: count}">
                        <td>{{ tipo.TIP_CODIGO }}</td>
                        <td>{{ tipo.TIP_NOMBRE }}</td>
                        <td>
                            <button class="btn btn-primary mr-1" [routerLink]="['/clientes/tipos-clientes', tipo.TIP_CODIGO]">
                <i class="fa fa-pen"></i>
              </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!cargando" class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadein faster">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync-alt fa-spin fa-3x"></i></p>
    <p class="mb-0">Espere por favor</p>
</div>
<div *ngIf="!cargando && tiposClientes.length === 0" class="alert alert-warning text-center mt-3 animated fadein faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation fa-3x"></i></p>
</div>