<div class="d-flex justify-content-between">
  <h5 mat-dialog-title class="" id="exampleModalLabel">Nuevo Producto</h5>
  <button type="button" class="close" (click)="onNoClick()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form
  class="mt-4"
  mat-dialog-content
  (ngSubmit)="f.form.valid && addProduct(f)"
  #f="ngForm"
  style="min-height: max-content"
>
  <div>
    <label>Nombre del producto*</label>
    <input
      [(ngModel)]="query"
      (keyup)="searchProduct($event)"
      #productName="ngModel"
      type="text"
      class="form-control"
      name="searchProduct"
      placeholder="Nombre del producto"
      required
      autocomplete="off"
    />
    <div *ngIf="f.submitted && productName.invalid" class="alert bg-warning">
      <div *ngIf="productName.errors.required">Nombre requerido</div>
      <div *ngIf="productName.errors.forbiddenName">
        No puede colocar ese nombre
      </div>
    </div>
    <div style="min-height: 100px">
      <select
        [(ngModel)]="positionOfProduct"
        *ngIf="
          productsList.length > 0 &&
          productsList[positionOfProduct]?.ART_NOMBRE != query
        "
        name="selectedProduct"
        #selectedProduct
        (change)="onChangeProductSelect(positionOfProduct)"
        multiple
        class="form-control"
      >
        <option *ngFor="let product of productsList; let i = index" [value]="i">
          {{ product.ART_NOMBRE }}
        </option>
      </select>
    </div>
  </div>
  <div *ngIf="productSelected" class="col-sm-12">
    <div class="form-group">
      <label *ngIf="!showListPrice">Precio del producto *</label>
      <input
        *ngIf="!showListPrice"
        [(ngModel)]="invoiceDetail.DETFACPRO_COSTO"
        name="price"
        #price="ngModel"
        placeholder="0"
        type="number"
        class="form-control"
        step="0.000001"
        required
      />

      <label *ngIf="showListPrice">Seleccione un precio *</label>
      <select
        *ngIf="showListPrice"
        [(ngModel)]="positionOfPrice"
        name="priceProduct"
        #priceProduct
        (change)="onChangeSelect(priceProduct.value)"
        class="form-control"
      >
        <option *ngFor="let priceData of pricesList; let i = index" [value]="i">
          ${{ priceData.ARTPRE_PRECIO }} | {{ priceData.UNI_CODIGO }}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group mt-2">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Cantidad*</label>
          <input
            [(ngModel)]="invoiceDetail.DETFACPRO_CANTIDAD"
            name="count"
            #count="ngModel"
            placeholder="0"
            type="number"
            class="form-control"
            min="1"
            step="0.000001"
            required
          />
          <div *ngIf="f.submitted && count.invalid" class="alert bg-warning">
            <div *ngIf="count.errors.required">Se debe ingresar un valor</div>
            <div *ngIf="count.errors.min">Debe tener mínimo 1 articulo</div>
            <div *ngIf="count.errors.forbiddenName">
              No puede colocar ese valor
            </div>
          </div>
        </div>
      </div>
      <div class="row col-md-6">
        <div class="col-md-6">
          <div class="form-group">
            <label>Descuento ($ valor)</label>
            <input
              [(ngModel)]="invoiceDetail.DETFACPRO_VALDES"
              name="discountValue"
              #discountValue="ngModel"
              placeholder="0"
              type="number"
              class="form-control"
              min="0"
              step="0.01"
              (change)="discountValueToPercent()"
              required
            />
            <div
              *ngIf="f.submitted && discountValue.invalid"
              class="alert bg-warning"
            >
              <div *ngIf="discountValue.errors.required">
                Se debe ingresar un valor
              </div>
              <div *ngIf="discountValue.errors.min">
                Puede tener como mínimo $0.00 de descuento
              </div>
              <div *ngIf="discountValue.errors.forbiddenName">
                No puede colocar ese valor
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Descuento (% porcentaje)</label>
            <input
              [(ngModel)]="invoiceDetail.DETFACPRO_PORDES"
              name="discountPercent"
              #discountPercent="ngModel"
              placeholder="0"
              type="number"
              class="form-control"
              min="0"
              max="100"
              [defaultValue]="0"
              (change)="discountPercentToValue()"
              required
            />
            <div
              *ngIf="f.submitted && discountPercent.invalid"
              class="alert bg-warning"
            >
              <div *ngIf="discountPercent.errors.required">
                Se debe ingresar un valor
              </div>
              <div *ngIf="discountPercent.errors.min">
                Puede tener como mínimo 0% de descuento
              </div>
              <div *ngIf="discountPercent.errors.max">
                Puede tener como máximo 100% de descuento
              </div>
              <div *ngIf="discount.errors.forbiddenName">
                No puede colocar ese valor
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="d-flex justify-content-end mt-4">
    <button
      type="button"
      class="btn btn-secondary"
      style="margin-right: 1rem"
      (click)="onNoClick()"
    >
      Cerrar
    </button>
    <button type="submit" class="btn btn-primary">Añadir producto</button>
  </div>
</form>
