<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Producto</h4>
        <p class="card-category">Creación/Mantenimiento de productos</p>
    </div>
    <div class="card-body">
        <div class="text-right mr-3">
            <button routerLink="/productos" class="btn btn-primary mt-1"><i class="fas fa-long-arrow-alt-left"></i> Regresar</button>
        </div>
        <form (ngSubmit)="f.form.valid && guardar(f)" #f="ngForm">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="general-data-tab" data-bs-toggle="tab" data-bs-target="#general-data" type="button" role="tab" aria-controls="general-data" aria-selected="true">
                      Datos Generales</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="adicional-data-tab" data-bs-toggle="tab" data-bs-target="#adicional-data" type="button" role="tab" aria-controls="adicional-data" aria-selected="false">
                    Datos Adicionales</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="prices-tab" data-bs-toggle="tab" data-bs-target="#prices" type="button" role="tab" aria-controls="prices" aria-selected="false">
                      Precios
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general-data" role="tabpanel" aria-labelledby="general-data-tab">
                    <div class="mt-2">
                        <div class="form-group">
                            <label>Código *</label>
                            <input type="text" class="form-control" [(ngModel)]="producto.ART_CODIGO" name="codigo" placeholder="" maxlength="25" required />
                        </div>

                        <div class="form-group">
                            <label>Nombre *</label>
                            <input type="text" class="form-control" [(ngModel)]="producto.ART_NOMBRE" name="nombre" placeholder="Nombre" minlength="1" #nombre="ngModel" required />
                            <div *ngIf="f.submitted && nombre.invalid" class="alert bg-warning">
                                <div *ngIf="nombre.errors.required">
                                    Nombre requeridos
                                </div>
                                <div *ngIf="nombre.errors.minlength">
                                    Debe tener mínimo 1 letra
                                </div>
                                <div *ngIf="nombre.errors.forbiddenName">
                                    No puede colocar ese nombre
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Código de Barras</label>
                            <input type="text" class="form-control" [(ngModel)]="producto.ART_CODIGOBARRAS" name="codigoBarra" #codigoBarra="ngModel" placeholder="Código de barras" />
                        </div>

                        <div class="form-group" *ngIf="grupoProductos.length > 0">
                            <label for="grupo">Catalogo Grupos: *</label>
                            <select [(ngModel)]="producto.GRUP_CODIGO" class="form-control" name="grupo" required>
                              <option *ngFor="let grupo of grupoProductos" [value]="grupo.GRUP_CODIGO">
                                {{ grupo.GRUP_NOMBRE }}
                              </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Modelo</label>
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="producto.ART_MODELO" name="modelo" placeholder="Modelo" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Observación</label>
                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="producto.ART_OBSERVACION" name="observacion" placeholder="Observación" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="iva">Grava IVA: *</label>
                                        <select [(ngModel)]="producto.ART_TRIBUTAIVA" class="form-control form-control-sm" name="iva" required>
                                          <option value="S">Si</option>
                                          <option value="N">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Activo</label>
                            <button *ngIf="producto.ART_ACTIVO === '1'" (click)="producto.ART_ACTIVO = '0'" class="btn btn-outline-success w-50" type="button">
                              Activo
                            </button>
                            <button *ngIf="producto.ART_ACTIVO === '0'" (click)="producto.ART_ACTIVO = '1'" class="btn btn-outline-danger w-50" type="button">
                              Inactivo
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="adicional-data" role="tabpanel" aria-labelledby="adicional-data-tab">
                    <div class="mt-2">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cuenta Contable Inventario</label>
                                        <input
                                          [(ngModel)]="cuentasProducto.ART_CUENTAINVENTARIO"
                                          (click)="openDialog('ART_CUENTAINVENTARIO')"
                                          name="artCuentaInventario"
                                          placeholder="...."
                                          type="text"
                                          class="form-control form-control-sm"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cuenta Contable Costos Ventas</label>
                                        <input
                                          [(ngModel)]="cuentasProducto.ART_CUENTACOSTOVENTAS"
                                          (click)="openDialog('ART_CUENTACOSTOVENTAS')"
                                          name="artCuentaCostoVentas"
                                          placeholder="...."
                                          type="text"
                                          class="form-control form-control-sm"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cuenta Contable Ventas</label>
                                        <input
                                          [(ngModel)]="cuentasProducto.ART_CUENTAVENTAS"
                                          (click)="openDialog('ART_CUENTAVENTAS')"
                                          name="artCuentaVentas"
                                          placeholder="...."
                                          type="text"
                                          class="form-control form-control-sm"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="prices" role="tabpanel" aria-labelledby="prices-tab">
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div>
                                            Precios
                                            <button (click)="agregarPrecio()" class="btn btn-outline-primary" type="button">Agregar</button>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Lista</th>
                                                        <th scope="col">Precio</th>
                                                        <th scope="col">Unidad</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let precio of producto.precios;let i = index">
                                                        <td scope="row">
                                                            <div class="form-group">
                                                                <select name="tipoPrecio{{ i }}" [(ngModel)]="precio.ARTPRE_CODIGO" class="form-control form-control-sm">
                                                                    <option *ngFor="let tipo of tipoPrecios" [value]="tipo.id_tipre">
                                                                        {{ tipo.tipre_nombre }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <input name="precio{{ i }}" type="number" class="form-control form-control-sm" placeholder="0" [(ngModel)]="precio.ARTPRE_PRECIO" [value]="precio.ARTPRE_PRECIO" />
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group">
                                                                <select name="tipoUnidad{{ i }}" [(ngModel)]="precio.UNI_CODIGO" class="form-control form-control-sm">
                                                                    <option *ngFor="let unidad of tipoUnidades" [value]="unidad.UNI_CODIGO">
                                                                        {{ unidad.UNI_NOMBRE }}
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td class="d-flex justify-content-end">
                                                            <button type="button" class="btn btn-danger mr-1" (click)="removePrice(i)">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group text-center">
                <button class="btn btn-primary w-50" type="submit">
                    <i class="fas fa-save"></i> Guardar
                </button>
            </div>
        </form>
    </div>
</div>
