<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title ">Actividades</h4>
        <p class="card-category"> Listado</p>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-9">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="textoBusqueda"
                    placeholder="Buscar ...">
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button routerLink="/agenda/actividades/nuevo" class="btn btn-sm btn-primary"><i
                            class="fas fa-plus"></i>Agregar</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table *ngIf="!cargando  && actividades.length > 0" class="table table-striped table-hover table-sm animated fadein faster">
                <thead class="text-primary">
                    <th>Id</th>
                    <th>Entidad</th>
                    <th>Actividad</th>
                    <th>Pn_Empleado</th>
                    <th>Pn_Rise</th>
                    <th>Pn_No_Obligado</th>
                    <th>Pn_No_Obligado_Semestral</th>
                    <th>Pn_Obligado</th>
                    <th>Pj_Sa</th>
                    <th>Pj_Cia_Ltda</th>
                    <th>Pj_Sin_Fin_Lucro</th>
                    <th>Pj_Seps_Finan</th>
                    <th>Pj_Seps_No_Finan</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let a of actividades | filtroSimple: textoBusqueda | paginate : {itemsPerPage: tableSize,currentPage: page,totalItems: count};">
                        <td>{{ a.id_actividad }} </td>
                        <td>{{ a.nombreEntidad }} </td>
                        <td>{{ a.actividad }} </td>
                        <td>{{ a.pn_empleado == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pn_rise == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pn_no_obligado == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pn_no_obligado_semestral == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pn_obligado == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pj_sa == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pj_cia_ltda == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pj_sin_fin_lucro == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pj_seps_finan == '1' ? 'SI' : 'NO' }} </td>
                        <td>{{ a.pj_seps_no_finan == '1' ? 'SI' : 'NO' }} </td>
                        <td>
                            <button class="btn btn-sm btn-primary mr-1"
                                [routerLink]="['/agenda/actividades', a.id_actividad]"><i
                                    class="fa fa-pen"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!cargando && actividades.length !== 0" class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadein faster">
            <h4 class="alert-heading">Cargando</h4>
            <p><i class="fa fa-sync-alt fa-spin fa-3x"></i></p>
            <p class="mb-0"> Espere por favor</p>
        </div>
        <div *ngIf="!cargando && actividades.length === 0"
            class="alert alert-warning text-center mt-3 animated fadein faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p><i class="fa fa-exclamation fa-3x"></i></p>
        </div>

    </div>
</div>