<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title">Clientes</h4>
        <p class="card-category">Mantenimiento</p>
    </div>
    <div class="card-body">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button routerLink="/clientes" class="btn btn-sm btn-primary mt-1">
                <i class="fas fa-long-arrow-alt-left"></i> Regresar
            </button>
        </div>
        <form (ngSubmit)="f.form.valid && guardar(f)" #f="ngForm">

            <br>
            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'DP'}" (click)="tab='DP'">Datos Personales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'IC'}" (click)="tab='IC'" *ngIf="mostrarInfoCompl">Informacion complementaria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'CL'}" (click)="tab='CL'">Claves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'DI'}" (click)="tab='DI'">Datos
                            informativos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'DC'}" (click)="tab='DC'">Datos
                            catastros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [ngClass]="{'active': tab === 'DO'}" (click)="tab='DO'">Documentos</a>
                    </li>
                </ul>
            </div>

            <br>

            <div>
                <div class="row" *ngIf="tab=='DP'">
                    <div class="col-md-3">
                        <label class="form-label">Tipo de documento:*</label>
                        <select [(ngModel)]="cliente.CLI_TIPOIDE" #tipoDocu (change)="controlBotones(tipoDocu.value)" name="tipoDocumento" class="form-select" required #tipDoc="ngModel">
                            <option style="display:none"></option>
                            <option *ngFor="let tipo of tipoClientes" [value]="tipo.ticli_codigo">
                                {{ tipo.ticli_nombre }}
                            </option>
                        </select>
                        <div *ngIf="f.submitted && tipDoc.invalid">
                            <span *ngIf="tipDoc.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">CED/RUC*</label>
                        <div class="input-group">
                            <input type="tel" class="form-control" [(ngModel)]="cliente.CLI_CODIGO" (keyup)="calcularVence($event)" name="cedruc" placeholder="9999999999" minlength="10" maxlength="13" #ruc="ngModel" required>
                            <button type="button" class="btn btn-primary" *ngIf="mostrarBtn" (click)="buscarDatosOnLine()"> <i class="fas fa-search"></i> </button>
                            <div *ngIf="buscando" class="mt-1">
                                <i class="fas fa-spinner fa-2x fa-spin"></i>
                            </div>
                        </div>
                        <!-- name.invalid && (name.dirty || name.touched) -->
                        <div *ngIf="f.submitted && ruc.invalid">
                            <span *ngIf="ruc.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese el RUC</span>
                            <span *ngIf="ruc.errors?.minlength" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> RUC debe tener 13 dígitos</span>
                        </div>
                    </div>

                    <div class="col-md-6"></div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Razón social*</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_NOMBRE" name="nombre" placeholder="Nombres" minlength="4" #nombre="ngModel" required />
                            <div *ngIf="f.submitted && nombre.invalid">
                                <span *ngIf="nombre.errors?.required" class="badge bg-warning text-dark"> <i
                                        class="fas fa-exclamation-triangle"></i> Ingrese la razón social</span>
                                <span *ngIf="nombre.errors?.minlength" class="badge bg-warning text-dark"> <i
                                        class="fas fa-exclamation-triangle"></i> Mínimo 4 caracteres</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-label">Nombre Comercial*</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_NOMBREC" name="nombrec" placeholder="Nombre Comercial" minlength="4" #nc="ngModel" required />
                            <div *ngIf="f.submitted && nc.invalid">
                                <span *ngIf="nc.errors?.required" class="badge bg-warning text-dark"> <i
                                        class="fas fa-exclamation-triangle"></i> Ingrese el nombre comercial</span>
                                <span *ngIf="nc.errors?.minlength" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Mínimo 4 caracteres</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Cédula</label>
                        <div class="input-group">
                            <input type="tel" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_CEDULA" name="cedula" placeholder="Cedula" minlength="10" maxlength="10" #cedula="ngModel">
                        </div>
                        <div *ngIf="f.submitted && cedula.invalid">
                            <span *ngIf="cedula.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese la cedula</span>
                            <span *ngIf="cedula.errors?.minlength" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Cédula debe tener 10 dígitos</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Representante legal</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_REPRESENTANTELEGAL" name="repL" #rl="ngModel" placeholder="Nombre" minlength="4">
                        </div>
                        <div *ngIf="f.submitted && rl.invalid">
                            <span *ngIf="rl.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese el representante legal</span>
                            <span *ngIf="rl.errors?.minlength" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Debe tener al menos 4 caracteres</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Actividad</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_ACTIVIDAD" #ac='ngModel' name="actividad" placeholder="Actividad" />
                        </div>
                        <div *ngIf="f.submitted && ac.invalid">
                            <span *ngIf="ac.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese la actividad comercial</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Dirección</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_DIRECCION1" name="direccion" placeholder="Dirección" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Teléfono*</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_TELEFONO1" #t1='ngModel' name="telefono" placeholder="Teléfono" required />
                        </div>
                        <div *ngIf="f.submitted && t1.invalid">
                            <span *ngIf="t1.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese el teléfono</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Teléfono 2</label>
                            <input [(ngModel)]="cliente.CLI_TELEFONO2" name="phone2" placeholder="Teléfono" type="text" class="form-control form-control-sm" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Email*</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_CORREO" #co='ngModel' name="email" placeholder="Email" required />
                        </div>
                        <div *ngIf="f.submitted && co.invalid">
                            <span *ngIf="co.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Ingrese el correo</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Email Secundario</label>
                            <input type="text" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_CORREO2" name="email2" placeholder="Email" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Provincia</label>
                            <select [(ngModel)]="provinciaCodigo" name="provincia" #provincia (change)="onChangeProvincia(provincia.value)" class="form-select form-select-sm">
                                <option style="display:none"></option>
                                <option *ngFor="let provincia of provincias" [value]="provincia.UBIGEO_CODIGO">
                                    {{ provincia.UBIGEO_NOMBRE }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="provinciaCodigo !== ''">
                        <div class="form-group">
                            <label class="form-label">Cantón</label>
                            <select [(ngModel)]="cantonCodigo" name="canton" #canton class="form-select form-select-sm">
                                <option style="display:none"></option>
                                <option *ngFor="let canton of cantones" [value]="canton.UBIGEO_CODIGO">
                                    {{ canton.UBIGEO_NOMBRE }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Asesor *</label>
                            <select [(ngModel)]="cliente.VEN_CODIGO" name="clientCity" #ase='ngModel' class="form-select form-select-sm" required>
                                <option style="display:none"></option>
                                <option *ngFor="let vendedor of vendedores" [value]="vendedor.VEN_CODIGO">
                                    {{ vendedor.VEN_NOMBRE }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="f.submitted && ase.invalid">
                            <span *ngIf="ase.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Usuario *</label>
                            <select [(ngModel)]="cliente.USUARIO" #us='ngModel' name="usuario" class="form-select form-select-sm" required>
                                <option style="display:none"></option>
                                <option *ngFor="let u of usuarios" [value]="u.USUIDENTIFICACION">
                                    {{ u.USUAPELLIDO }} {{ u.USUNOMBRE }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="f.submitted && us.invalid">
                            <span *ngIf="us.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Grupo *</label>
                            <select [(ngModel)]="cliente.GRU_CODIGO" #gr='ngModel' name="grupo" class="form-select form-select-sm" required>
                                <option style="display:none"></option>
                                <option *ngFor="let g of grupos" [value]="g.GRU_CODIGO">
                                    {{ g.GRU_NOMBRE }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="f.submitted && gr.invalid">
                            <span *ngIf="gr.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label">Tipo *</label>
                            <select [(ngModel)]="cliente.CLI_TIPOCLIENTE" name="tipoCli" #tc='ngModel' class="form-select form-select-sm" required>
                                <option style="display:none"></option>
                                <option *ngFor="let t of tiposClientes" [value]="t.TIP_CODIGO">
                                    {{ t.TIP_NOMBRE }}
                                </option>
                            </select>
                        </div>
                        <div *ngIf="f.submitted && tc.invalid">
                            <span *ngIf="tc.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label">Dígito</label>
                            <input type="tel" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_DIGITO"
                                name="digito" disabled placeholder="">
                        </div>
                    </div> -->
                    <!-- <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label">Vence</label>
                            <input type="tel" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_VENCE"
                                name="vence" disabled placeholder="">
                        </div>
                    </div> -->
                    <div class="col-md-4">
                        <label class="form-label">Región *</label>
                        <select [(ngModel)]="cliente.CLI_REGION" name="region" class="form-select form-select-sm" #re='ngModel' required>
                            <option style="display:none"></option>
                            <option value="S">Sierra</option>
                            <option value="C">Costa</option>
                        </select>
                        <div *ngIf="f.submitted && re.invalid">
                            <span *ngIf="re.errors?.required" class="badge bg-warning text-dark"> <i
                                    class="fas fa-exclamation-triangle"></i> Seleccione una opción</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group d-grid gap-2">
                            <label class="form-label">Estado</label>
                            <button *ngIf="cliente.CLI_ESTADO === '1'" (click)="cliente.CLI_ESTADO = '0'" class="btn btn-sm btn-outline-success" type="button">
                                Activo
                            </button>
                            <button *ngIf="cliente.CLI_ESTADO === '0'" (click)="cliente.CLI_ESTADO = '1'" class="btn btn-sm btn-outline-danger" type="button">
                                Inactivo
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-label">Observación</label>
                            <textarea [(ngModel)]="cliente.CLI_OBSERVACION" name="comercialName" #comercialName="ngModel" placeholder="Observación del cliente" type="text" class="form-control" minlength="4"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="tab=='IC'">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label">Latitud</label>
                            <input [(ngModel)]="coordinateX" name="coordX" placeholder="0" type="number" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label">Longitud</label>
                            <input [(ngModel)]="coordinateY" name="coordY" placeholder="0" type="number" class="form-control form-control-sm" />
                        </div>
                    </div>

                    <div class="col-md-4">
                        <!-- <div class="form-group">
                            <label class="form-label">Cuenta Contable Clientes</label>
                            <input [(ngModel)]="cuentasCliente.CON_CODIGO1" (click)="openDialog('CON_CODIGO1')"
                                name="conCodigo1" placeholder="...." type="text" class="form-control form-control-sm">
                        </div> -->
                        <label class="form-label">Cuenta Contable Clientes</label>
                        <div class="input-group">
                            <input [(ngModel)]="cuentasCliente.CON_CODIGO1" name="conCodigo1" placeholder="...." type="text" class="form-control form-control-sm" disabled>
                            <button type="button" class="btn btn-sm btn-primary" (click)="openDialog('CON_CODIGO1')"> <i
                                    class="fas fa-search"></i> </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- <div class="form-group">
                            <label class="form-label">Cuenta Contable Anticipos</label>
                            <input [(ngModel)]="cuentasCliente.CON_CODIGO2" (click)="openDialog('CON_CODIGO2')"
                                name="conCodigo2" placeholder="...." type="text" class="form-control form-control-sm" />
                        </div> -->
                        <label class="form-label">Cuenta Contable Anticipos</label>
                        <div class="input-group">
                            <input [(ngModel)]="cuentasCliente.CON_CODIGO2" name="conCodigo2" placeholder="...." type="text" class="form-control form-control-sm" disabled>
                            <button type="button" class="btn btn-sm btn-primary" (click)="openDialog('CON_CODIGO2')"> <i
                                    class="fas fa-search"></i> </button>
                        </div>
                    </div>

                    <div class="col-md-4" *ngIf="showMore">
                        <!-- <div class="form-group">
                            <label class="form-label">Cuenta Contable BaseIVA</label>
                            <input [(ngModel)]="cuentasCliente.CLI_BASEIVA" (click)="openDialog('CLI_BASEIVA')"
                                name="cliBaseIva" placeholder="...." type="text" class="form-control form-control-sm" />
                        </div> -->
                        <label class="form-label">Cuenta Contable Base IVA</label>
                        <div class="input-group">
                            <input [(ngModel)]="cuentasCliente.CLI_BASEIVA" name="cliBaseIva" placeholder="...." type="text" class="form-control form-control-sm" disabled>
                            <button type="button" class="btn btn-sm btn-primary" (click)="openDialog('CLI_BASEIVA')"> <i
                                    class="fas fa-search"></i> </button>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="showMore">
                        <!-- <div class="form-group">
                            <label class="form-label">Cuenta Contable BaseCERO</label>
                            <input [(ngModel)]="cuentasCliente.CLI_BASECERO" (click)="openDialog('CLI_BASECERO')"
                                name="cliBaseCero" placeholder="...." type="text"
                                class="form-control form-control-sm" />
                        </div> -->
                        <label class="form-label">Cuenta Contable Base Cero</label>
                        <div class="input-group">
                            <input [(ngModel)]="cuentasCliente.CLI_BASECERO" name="cliBaseCero" placeholder="...." type="text" class="form-control form-control-sm" disabled>
                            <button type="button" class="btn btn-sm btn-primary" (click)="openDialog('CLI_BASECERO')">
                                <i class="fas fa-search"></i> </button>
                        </div>
                    </div>
                    <div class="col-md-4" *ngIf="showMore">
                        <!-- <div class="form-group">
                            <label class="form-label">Cuenta Contable BaseNOBJET</label>
                            <input [(ngModel)]="cuentasCliente.CLI_BASENOBJET" (click)="openDialog('CLI_BASENOBJET')"
                                name="cliBaseNobjet" placeholder="...." type="text"
                                class="form-control form-control-sm" />
                        </div> -->
                        <label class="form-label">Cuenta Contable BaseNOBJET</label>
                        <div class="input-group">
                            <input [(ngModel)]="cuentasCliente.CLI_BASENOBJET" name="cliBaseNobjet" placeholder="...." type="text" class="form-control form-control-sm" disabled>
                            <button type="button" class="btn btn-sm btn-primary" (click)="openDialog('CLI_BASENOBJET')">
                                <i class="fas fa-search"></i> </button>
                        </div>
                    </div>


                </div>
                <div *ngIf="tab == 'CL'">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> Ruc:</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CODIGO" readonly name="rucCli">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> Cedula: </label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CEDULA" readonly name="cedCli">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/sri.png" style="width: 20px;" alt="">
                                SRI</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVESRI" name="sri">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/iess.png" style="width: 20px;" alt=""> IESS
                                Empleado</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEIESSEMPLEADO" name="iess_afiliado">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/iess.png" style="width: 20px;" alt=""> IESS
                                Empleador</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEIESSEMPLEADOR" name="iess_empresa">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/iess.png" style="width: 20px;" alt=""> IESS
                                Doméstica</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEIESSDOMESTICA" name="iess_domestico">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/MRL.png" style="width: 20px;" alt=""> MRL
                                Contratos</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEMRLCONTRATOS" name="mrl1">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/MRL.png" style="width: 20px;" alt=""> MRL
                                Formularios</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEMRLFORMULARIOS" name="mrl2">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/super.png" style="width: 20px;" alt="">
                                Usuario Super</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_USUARIOSUPER" name="supercias_usuario">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/super.png" style="width: 20px;" alt="">
                                Clave Super</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVESUPER" name="supercias_clave">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/municipio.png" style="width: 20px;" alt="">
                                Municipio</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEMUNICIPIO" name="municipio_clave">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/sercop.png" style="width: 20px;" alt="">
                                Usuario Sercop</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_USUARIOSERCOP" name="ussercop">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label"> <img src="assets/img/sercop.png" style="width: 20px;" alt="">
                                Clave Sercop</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVESERCOP" name="claversercop">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Quipux</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEQUIPUX" name="quipux">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">UAFE</label>
                            <input type="text" class="form-control" [(ngModel)]="cliente.CLI_CLAVEUAFE" name="uafe">
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="tab=='DI'">

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-primary mt-1" type="button" (click)="agregarDatoAdicional()">
                            <i class="fas fa-plus"></i> Agregar
                        </button>
                    </div>

                    <div class="table-responsive" *ngIf="cliente.datosAdicionales || cliente.datosAdicionales.length>0">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Dato 1 *</th>
                                    <th scope="col">Dato 2</th>
                                    <th scope="col">Dato 3</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let dato of cliente.datosAdicionales;let i = index">
                                    <td scope="row">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" name="dato1{{i}}" [(ngModel)]="dato.DATO1" [value]="dato.dato1" required>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" name="dato2{{i}}" [(ngModel)]="dato.DATO2" [value]="dato.dato2">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-sm" name="dato3{{i}}" [(ngModel)]="dato.DATO3" [value]="dato.dato3">
                                        </div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="quitarDatoAdicional(i)">
                                            <i class="fas fa-minus-circle"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="cliente.datosAdicionales.length === 0" class="alert alert-warning text-center mt-3 animated fadein faster">
                        <h4 class="alert-heading">No hay registros</h4>
                        <p><i class="fa fa-exclamation fa-3x"></i></p>
                    </div>
                </div>
                <div *ngIf="tab == 'DC'">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Fecha de actualización</label>
                                <input type="date" class="form-control form-control-sm" [(ngModel)]="cliente.CLI_FECHACONSULTA" disabled name="fecConsulta">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contribuyente Microempresas</label>
                                <input [(ngModel)]="cliente.CLI_MICROEMPRESA" name="micro" type="text" disabled class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Contribuyente Especial</label>
                                <input [(ngModel)]="cliente.CLI_CONTRIESPECIAL" name="constEsp" type="text" disabled class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Empresa Fantasma</label>
                                <input [(ngModel)]="cliente.CLI_EMPRESAFANTAS" name="fantasma" type="text" disabled class="form-control form-control-sm" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="form-label">Agente de Retención</label>
                                <input [(ngModel)]="cliente.CLI_AGENRETENCION" name="agenteRetencion" type="text" disabled class="form-control form-control-sm" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Documentos -->
                <div *ngIf="tab == 'DO'">
                    <div class="row">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary mt-1" type="button" (click)="agregarDocumento()">
                                <i class="fas fa-plus"></i> Agregar
                            </button>
                        </div>
                    </div>
                    <div class="row" *ngIf="cargarDocumento">
                        <div class="col-md-8">
                            <label for="formFile" class="form-label">Archivo:</label>
                            <input class="form-control" (change)="cargaArchivo($event)" type="file" name="file1" id="formFile">
                        </div>
                    </div>
                    <div class="table-responsive" *ngIf="archivos.length > 0">
                        <h4>Archivos por subir:</h4>
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let arch of archivos;let i = index">
                                    <td scope="row">
                                        {{ arch.name }}
                                    </td>
                                    <td>
                                        {{ arch.size }} KB
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="quitarArchivo(i)"> <i class="fas fa-minus-circle"></i> </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="badge bg-primary text-light"> <i class="fas fa-exclamation-triangle"></i> Presione "Guardar" para que se carguen los archivos.</span>
                        <hr>
                    </div>
                    <div class="table-responsive" *ngIf="cliente.documentos || cliente.documentos.length>0">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Fecha Subida</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let documento of cliente.documentos;let i = index">
                                    <td scope="row">
                                        {{ documento.DOC_NOMBRE }}.{{ documento.DOC_TIPO }}
                                    </td>
                                    <td>
                                        {{ documento.DOC_FECHA }}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm" (click)="eliminarDocumento(i,documento.DOC_CODIGO)"> <i class="fas fa-minus-circle"></i> </button>
                                        <a class="btn btn-success btn-sm" [href]="descargarArchivo(documento)"> <i class="fas fa-download"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="cliente.documentos.length === 0" class="alert alert-warning text-center mt-3 animated fadein faster">
                        <h4 class="alert-heading">No hay registros</h4>
                        <p><i class="fa fa-exclamation fa-3x"></i></p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group text-center">
                <button class="btn btn-primary w-50" type="submit">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <button class="btn btn-danger w-50" type="button" (click)="eliminarCliente()" *ngIf="showDeleteButton">
                    <i class="fas fa-trash"></i> Eliminar
                </button>
            </div>
        </form>
    </div>
</div>