<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Amelia</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/']"
            [routerLinkActiveOptions]="{exact: true}">Inicio</a>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/clientes']">Clientes</a>
        </li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="clientesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Clientes
          </a>
          <ul class="dropdown-menu" aria-labelledby="clientesDropdown">
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/clientes']">Listado</a></li>
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/clientes/tipos-clientes']">Tipo Clientes</a></li>
            <!-- <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:
              true}" routerLinkActive="active" [routerLink]="['/productos/unidad-productos']">Unidad de Productos</a></li> -->
            <!-- <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu" aria-labelledby="productosDropdown">
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/productos']">Listado</a></li>
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/productos/grupo-productos']">Grupo Productos</a></li>
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active" [routerLink]="['/productos/unidad-productos']">Unidad de Productos</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/ventas']">Ventas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/proveedores']">Proveedores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/facturas']">Facturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/vendedores']">Vendedores</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="productosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Configuraciones
          </a>
          <ul class="dropdown-menu" aria-labelledby="productosDropdown">
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/configuraciones']">Configuraciones del sistema</a></li>
            <li><a class="dropdown-item" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/configuraciones/ciudades']">Ubicaciones</a></li>
          </ul>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
      </ul>
      <form class="d-flex ml-auto">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
