<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title ">Agenda</h4>
        <p class="card-category"></p>
    </div>

    <div class="card-body">
        <div class="d-grid gap-2 mb-1 d-md-flex justify-content-md-end">
            <button class="btn btn-sm btn-secondary" (click)="tareaManual=true; mostrarEstado=false;"><i
                    class="fas fa-plus"></i> Tarea manual</button>
            <button class="btn btn-sm btn-secondary" (click)="limpiarFiltros()"><i class="fas fa-eraser"></i> Limpiar
                Filtros</button>
            <button class="btn btn-sm btn-secondary" (click)="mostrarFinalizados()"><i class="fas fa-check-square"></i>
                Mostrar Finalizados</button>
            <button type="button" (click)="mostrarEstado = !mostrarEstado" class="btn btn-sm btn-secondary ">
                {{ mostrarEstado ? 'Ocultar' : 'Ver' }}
            </button>

        </div>

        <div class="row mt-1" *ngIf="mostrarEstado">
            <div class="col-md-3" (click)="cargarPorEstado('ven')">
                <div class="input-group bg-danger bg-gradient mb-1 pointer">
                    <span class="form-control bg-danger bg-gradient text-light" style="border: 0;"
                        id="basic-addon1">Vencidos</span>
                    <span class="input-group-text bg-danger bg-gradient text-light" style="border: 0;"
                        id="basic-addon1">{{estadoActividades.vencidos}}</span>
                </div>
            </div>
            <div class="col-md-3" (click)="cargarPorEstado('pen')">
                <div class="input-group bg-primary bg-warning mb-1 pointer">
                    <span class="form-control bg-primary bg-warning text-light" style="border: 0;"
                        id="basic-addon1">Pendientes</span>
                    <span class="input-group-text bg-primary bg-warning text-light" style="border: 0;"
                        id="basic-addon1">{{estadoActividades.pendientes}}</span>
                </div>
            </div>
            <div class="col-md-3" (click)="cargarPorEstado('hoy')">
                <div class="input-group bg-primary bg-success mb-1 pointer">
                    <span class="form-control bg-primary bg-success text-light" style="border: 0;"
                        id="basic-addon1">Hoy</span>
                    <span class="input-group-text bg-primary bg-success text-light" style="border: 0;"
                        id="basic-addon1">{{estadoActividades.hoy}}</span>
                </div>
            </div>
            <div class="col-md-3" (click)="cargarPorEstado('pro')">
                <div class="input-group bg-primary bg-gradient mb-1 pointer">
                    <span class="form-control bg-primary bg-gradient text-light" style="border: 0;"
                        id="basic-addon1">Próximos</span>
                    <span class="input-group-text bg-primary bg-gradient text-light" style="border: 0;"
                        id="basic-addon1">{{estadoActividades.proximos}}</span>
                </div>
            </div>
        </div>

        <div class="card" *ngIf="tareaManual">
            <div class="card-header card-header-info">
                <h4 class="card-title ">Tarea Manual</h4>
                <p class="card-category"></p>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Cliente</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" readonly
                                [(ngModel)]="cliente.CLI_NOMBRE" placeholder="Buscar Cliente...">
                            <button (click)="abrirModal('nuevaTarea')" class="btn btn-sm btn-primary"><i
                                    class="fas fa-search"></i></button>
                        </div>
                        <p style="font-size: 0.7rem;"> &nbsp; {{ cliente.TipoCliente }} </p>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Actividad</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" readonly
                                [(ngModel)]="actividad.actividad" placeholder="Buscar Actividad...">
                            <button (click)="abrirModalActividades()" class="btn btn-sm btn-primary"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <div class="form-group col-md-3" id="data_1">
                        <label class="form-label">Vencimiento</label>
                        <div class="input-group date">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span><input type="date"
                                [(ngModel)]="fecha" class="form-control form-control-sm" id="fecha">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Días Notificación</label>
                        <div class="input-group">
                            <input type="number" class="form-control form-control-sm" step="1" [(ngModel)]="diasAviso"
                                placeholder="Dias antes de aviso">
                        </div>
                    </div>
                    <div class="form-group text-center mt-2">
                        <button class="btn btn-sm btn-primary w-50" (click)="crearTareaManual()" type="button">
                            <i class="fas fa-save"></i> Crear tarea
                        </button>
                        <button class="btn btn-sm btn-danger w-50" (click)="cancelarTareaManual()" type="button">
                            <i class="fas fa-ban"></i> Cancelar
                        </button>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="card-body">

        <div class="row mb-3">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" readonly [(ngModel)]="nombreCliente"
                        placeholder="Buscar cliente...">
                    <button (click)="abrirModal('busqueda')" class="btn btn-sm btn-primary"><i
                            class="fas fa-search"></i></button>
                </div>
                <p style="font-size: 0.7rem;"> &nbsp; {{ tipoCliente }} </p>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" #busqueda [(ngModel)]="textoBusqueda"
                        (keypress)="page=1" placeholder="Buscar...">
                    <button (click)="limpiarBusqueda()" [disabled]="textoBusqueda.length==0"
                        class="btn btn-sm btn-primary"><i class="fas fa-backspace"></i></button>
                </div>
            </div>
        </div>

        <!-- <div class="row mb-3">
            <div class="col-md-9">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="textoBusqueda" (keyup)="page=1"
                    placeholder="Buscar ...">
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button routerLink="/agenda/actividades/nuevo" class="btn btn-sm btn-primary"><i
                            class="fas fa-plus"></i>Agregar</button>
                </div>
            </div>
        </div> -->

        <div class="table-responsive" *ngIf="!mostrarAgrupados">
            <table *ngIf="!cargando  && agendaActividades.length > 0"
                class="table table-striped table-hover table-sm animated fadein faster">
                <thead class="text-primary">
                    <th> <a (click)="ordenar('id')" style="cursor: pointer;">Id</a></th>
                    <th> <a (click)="ordenar('ruc')" style="cursor: pointer;">Ruc</a> </th>
                    <th> <a (click)="ordenar('cliente')" style="cursor: pointer;"> Razon Social </a></th>
                    <th> <a (click)="ordenar('actividad')" style="cursor: pointer;"> Actividad </a></th>
                    <th> <a (click)="ordenar('vence')" style="cursor: pointer;"> Vence </a></th>
                    <th> <a (click)="ordenar('mesVence')" style="cursor: pointer;"> Periodo </a></th>
                    <th> <a (click)="ordenar('fecha_finalizacion')" style="cursor: pointer;"> Finalizacion </a></th>
                    <th> <a (click)="ordenar('ESCAT')" style="cursor: pointer;"> Estado </a></th>
                    <th class="col-botones">Acciones</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let a of agendaActividades | filtroSimple: textoBusqueda | paginate : {itemsPerPage: tableSize,currentPage: page,totalItems: count}; let i = index;">
                        <td>{{ a.id }} </td>
                        <td>{{ a.ruc }} </td>
                        <td>{{ a.cliente }} </td>
                        <td>{{ a.actividad }} </td>
                        <td>{{ a.vence }} </td>
                        <td>{{ a.periodo_calculo }} </td>
                        <td>{{ a.fecha_finalizacion?.replace('T',' ').replace('.000Z','') }} </td>
                        <td>{{ a.ESCAT }} </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-danger wh30"
                                    (click)="eliminar(a.id,a.comentarios,i)" [disabled]="a.estado!=='PENDIENTE'"><i
                                        class="fa fa-trash"></i></button>
                                <button type="button" class="btn btn-warning text-light wh30" (click)="reversar(a)"
                                    [disabled]="a.estado=='PENDIENTE'"><i class="fa fa-exchange-alt"></i></button>
                                <button type="button" class="btn btn-success wh30" (click)="finalizar(a)"
                                    [disabled]="a.estado!=='PENDIENTE'"><i class="fa fa-check"></i></button>
                                <button type="button" class="btn btn-primary wh5030" (click)="comentar(a)"><i
                                        class="fa fa-comment"></i> {{ a.comentarios }}</button>
                                <button type="button" class="btn btn-secondary wh5030"
                                    (click)="documentosActividad(a)"><i class="fa fa-file-import"></i> {{ a.documentos
                                    }} </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!cargando && agendaActividades.length !== 0" class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>

        <div class="table-responsive" *ngIf="mostrarAgrupados">

            <div *ngFor="let grupo of agendaActividadesAdmin">

                <div class="card mb-2 bg-white">
                    <div class="card-header bg-primary text-light" (click)="grupo.colapsado=!grupo.colapsado">
                        <b> {{ grupo.usuario }} &nbsp;&nbsp;&nbsp; <i
                                class="fas fa-lg fa-caret-{{ grupo.colapsado ? 'up' : 'down' }}"></i> </b>
                    </div>
                </div>

                <table *ngIf="grupo.colapsado && grupo.actividades.length > 0"
                    class="table table-striped table-hover table-sm animated fadein faster">
                    <thead class="text-primary">
                        <th> <a (click)="ordenar('id')" style="cursor: pointer;">Id</a></th>
                        <th> <a (click)="ordenar('ruc')" style="cursor: pointer;">Ruc</a> </th>
                        <th> <a (click)="ordenar('cliente')" style="cursor: pointer;"> Razon Social </a></th>
                        <th> <a (click)="ordenar('actividad')" style="cursor: pointer;"> Actividad </a></th>
                        <th> <a (click)="ordenar('vence')" style="cursor: pointer;"> Vence </a></th>
                        <th> <a (click)="ordenar('mesVence')" style="cursor: pointer;"> Periodo </a></th>
                        <th> <a (click)="ordenar('fecha_finalizacion')" style="cursor: pointer;"> Finalizacion </a></th>
                        <th> <a (click)="ordenar('ESCAT')" style="cursor: pointer;"> Estado </a></th>
                        <th class="col-botones">Acciones</th>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let a of grupo.actividades | filtroSimple: textoBusqueda | paginate : {id: grupo.usuario, itemsPerPage: tableSize,currentPage: grupo.page,totalItems: count}; let i = index;">
                            <td>{{ a.id }} </td>
                            <td>{{ a.ruc }} </td>
                            <td>{{ a.cliente }} </td>
                            <td>{{ a.actividad }} </td>
                            <td>{{ a.vence }} </td>
                            <td>{{ a.periodo_calculo }} </td>
                            <td>{{ a.fecha_finalizacion?.replace('T',' ').replace('.000Z','') }} </td>
                            <td>{{ a.ESCAT }} </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-danger wh30"
                                        (click)="eliminar(a.id,a.comentarios,i)" [disabled]="a.estado!=='PENDIENTE'"><i
                                            class="fa fa-trash"></i></button>
                                    <button type="button" class="btn btn-warning text-light wh30" (click)="reversar(a)"
                                        [disabled]="a.estado=='PENDIENTE'"><i class="fa fa-exchange-alt"></i></button>
                                    <button type="button" class="btn btn-success wh30" (click)="finalizar(a)"
                                        [disabled]="a.estado!=='PENDIENTE'"><i class="fa fa-check"></i></button>
                                    <button type="button" class="btn btn-primary wh5030" (click)="comentar(a)"><i
                                            class="fa fa-comment"></i> {{ a.comentarios }}</button>
                                    <button type="button" class="btn btn-secondary wh5030"
                                        (click)="documentosActividad(a)"><i class="fa fa-file-import"></i> {{
                                        a.documentos }} </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div *ngIf="grupo.colapsado && grupo.actividades.length !== 0" class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" id="{{grupo.usuario}}"
                        (pageChange)="onMultiTableDataChange(grupo,$event)">
                    </pagination-controls>
                </div>

            </div>


        </div>


        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadein faster">
            <h4 class="alert-heading">Cargando</h4>
            <p><i class="fa fa-sync-alt fa-spin fa-3x"></i></p>
            <p class="mb-0"> Espere por favor</p>
        </div>
        <div *ngIf="!cargando && agendaActividades.length === 0"
            class="alert alert-warning text-center mt-3 animated fadein faster">
            <h4 class="alert-heading">No hay registros</h4>
            <p><i class="fa fa-exclamation fa-3x"></i></p>
        </div>

    </div>
</div>