<div class="card">
    <div class="card-header card-header-info">
        <h4 class="card-title ">Clientes</h4>
        <p class="card-category"> Listado de clientes registrados</p>
    </div>

    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="textoBusqueda"
                    (keyup)="busqueda($event)" placeholder="Buscar Ruc/Nombre...">
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select [(ngModel)]="grupoId" name="grupo" class="form-control form-control-sm" #provincia
                        (change)="onChangeProvincia(provincia.value)">
                        <option value="" selected>Seleccione un grupo</option>
                        <option *ngFor="let g of grupos" [value]="g.GRU_CODIGO">
                            {{ g.GRU_NOMBRE }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="vence" maxlength="2"
                    (keyup)="busquedaVence($event)" placeholder="Buscar por vence...">
            </div>
            <div class="col-md-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button routerLink="/clientes/nuevo" class="btn btn-sm btn-primary"><i
                            class="fas fa-plus"></i>Agregar</button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table *ngIf="!cargando  && clientes.length > 0"
                class="table table-striped table-hover animated fadein faster">
                <thead class=" text-primary">
                    <th>Nombre</th>
                    <th>CI./RUC</th>
                    <th>Grupo</th>
                    <th>Vence</th>
                    <th>Accion</th>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let cliente of clientes | filtroSimple: '' | paginate : {itemsPerPage: tableSize,currentPage: page,totalItems: count};">
                        <td>{{ cliente.CLI_NOMBRE }} </td>
                        <td>{{ cliente.CLI_RUCIDE }}</td>
                        <td>{{ cliente.GrupoCliente }}</td>
                        <td>{{ cliente.CLI_VENCE }}</td>
                        <td>
                            <button class="btn btn-sm btn-warning mr-1"
                                [routerLink]="['/clientes', cliente.CLI_CODIGO]"><i class="fa fa-eye"></i></button>
                            <button class="btn btn-sm btn-primary mr-1"
                                [routerLink]="['/clientes', cliente.CLI_CODIGO]"><i class="fa fa-pen"></i></button>
                            <button class="btn btn-sm btn-success mr-1" (click)="enviarWhatsapp(cliente.CLI_TELEFONO1)"
                                [disabled]="cliente.CLI_TELEFONO1.length < 10"><i class="fa fa-whatsapp"></i></button>
                            <!-- <button class="btn btn-sm btn-danger mr-1"
                                (click)="eliminarCliente(cliente.CLI_CODIGO)"><i class="fa fa-trash"></i></button> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="!cargando && clientes.length !== 0" class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadein faster">
    <h4 class="alert-heading">Cargando</h4>
    <p><i class="fa fa-sync-alt fa-spin fa-3x"></i></p>
    <p class="mb-0"> Espere por favor</p>
</div>
<div *ngIf="!cargando && clientes.length === 0" class="alert alert-warning text-center mt-3 animated fadein faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p><i class="fa fa-exclamation fa-3x"></i></p>
</div>